.mainContent {
    width: 100%;
    margin: 0 auto;
}
.mainWrapper {
    width: 1200px;
}
.cards {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 441px;
    grid-gap: 40px 26px;
    justify-content: center;

    overflow-y: auto;
    scrollbar-color: #ffffff #2e2e2e;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 922px;
}
.cards::-webkit-scrollbar {
    width: 0px;
    background-color: #009ee4;
}
.cards::-webkit-scrollbar-thumb {
    background-color: #0080c1;
    border-radius: 3px;
}
