.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.containerBg {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #f4f5f6;
}

.modalBtnCloseLine:hover::after,
.modalBtnCloseLine:hover::before {
    background-color: #0080c1;
}

.btnHov02:hover {
    background-color: #0080c1;
}

.modalBlock {
    position: absolute;
    z-index: 5;
    left: calc(50% - (800px / 2));
    top: 60px;
    opacity: 1;
}

.modalContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 800px;
    height: auto;
    padding: 20px 92px 57px 50px;
    background-color: #ffffff;
    border-radius: 12px;
    position: relative;
}

.modalTitle {
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
}

.modalBtnClose {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 47px;
    right: 50px;
    z-index: 3;
    cursor: pointer;
}

.modalBtnCloseLine {
    position: relative;
    width: 100%;
    height: 100%;
}

.modalBtnCloseLine::after,
.modalBtnCloseLine::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background-color: #d9d9d9;
    top: 47%;
    right: -4px;
}

.modalBtnCloseLine::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modalBtnCloseLine::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modalScroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: #afafaf #ffffff;
    scrollbar-width: thin;
    right: 0;
}

.modalScroll::-webkit-scrollbar {
    width: 0px;
    background-color: #ffffff;
}
.modalScroll::-webkit-scrollbar-button {
    display: none;
}

.modalScroll::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.modalFormNewArt {
    margin-top: 5px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.modalReviews {
    width: 100%;
    height: 495px;
}

.formNewArtBlock {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 14px;
}

.formNewArt label {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
}

.formNewArtArea {
    font-family: 'Roboto', sans-serif;
    padding: 10px 19px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    height: 100px;
    max-height: 100px;
}

.formNewArtArea::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0000004d;
}

.formNewArtArea:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0000004d;
}

.formNewArtArea::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0000004d;
}

.formNewArtArea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0000004d;
}

.formNewArtBtnPub {
    width: 181px;
    height: 50px;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.reviewsReview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px 0;
}

.reviewItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.reviewLeft {
    margin-right: 12px;
}

.reviewImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.reviewImg img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.reviewRight {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.reviewName {
    margin-bottom: 12px;
    font-weight: 600;
}

.reviewName span {
    margin-left: 10px;
    color: #5f5f5f;
}

.reviewTitle {
    font-weight: 600;
}

.fontT {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}
