.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.containerSignup {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #f4f5f6;
}

.error {
    color: red;
}
.modalBtnCloseLine:hover::after,
.modalBtnCloseLine:hover::before {
    background-color: #0080c1;
}

.modalBlock {
    position: absolute;
    z-index: 5;
    left: calc(50% - (600px / 2));
    top: 60px;
    opacity: 1;
}

.modalBtnClose {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 47px;
    right: 50px;
    z-index: 3;
    cursor: pointer;
}

.modalBtnCloseLine {
    position: relative;
    width: 100%;
    height: 100%;
}

.modalBtnCloseLine::after,
.modalBtnCloseLine::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background-color: #d9d9d9;
    top: 47%;
    right: -4px;
}

.modalBtnCloseLine::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modalBtnCloseLine::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modalFormRegister {
    width: 500px;
    height: 300px;
    background-color: #f3f3f3;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 43px 42px 47px;
}
.modalInputSignup {
    margin-bottom: 38px;
}
.modalBtnSignupEnt {
    width: 278px;
    height: 62px;
    background-color: #009ee4;
    border-radius: 6px;
    border: none;
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modalBtnSignupEnt a {
    color: #f4f5f6;
}
.modalBtnSignupEnt span {
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modalBtnSignupEnt:hover {
    background-color: #0080c1;
}
.modalBtnSignupEnt:active {
    background-color: #0080c1;
}
