.menuForm {
    margin-left: 60px;
    max-width: 1044px;
    width: 100%;
}
.mainMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 11px 0;
    width: 100%;
    padding: 31px 10px 64px;
}
.menuBtn {
    width: 241px;
    height: 50px;
    background-color: #009ee4;
    border: 1px solid #009ee4;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
}

.btnHov02:hover {
    background-color: #0080c1;
}
