.mainProfileSell {
    width: 100%;
    padding: 0 0 70px;
}

.mainTitle {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #000000;
}

.mainContent {
    width: 100%;
    margin: 0 auto;
}

.menuLogoLink {
    width: 54;
    height: 50px;
}

.menuLogoImg {
    width: 54px;
    height: auto;
}

.menuForm {
    margin-left: 60px;
    max-width: 1044px;
    width: 100%;
}

.menuBtn {
    width: 241px;
    height: 50px;
    background-color: #009ee4;
    border: 1px solid #009ee4;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
}

.profileSellContent {
    width: 100%;
}

.profileSellTitle {
    margin-bottom: 10px;
}

.profileSellSeller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.sellerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 50px;
}

.sellerImgMobBlock {
    display: none;
}

.sellerImg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.sellerImg img {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.sellerRight {
    width: auto;
}


.sellerInf,
.sellerCity {
    font-size: 16px;
    line-height: 21px;
    color: #5f5f5f;
    margin-bottom: 10px;
}
